@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

.upper-portion {
    background-color: #1F2937;
    padding: 0px 150px 100px 150px;

}

.header {
    display: flex;
    align-items: center;
    padding: 20px 20px;
}

#header-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-right: auto;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-basis: 500px;
    justify-content: flex-end;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.description-section {
    background-color: #1F2937;
    display: flex;
    margin-top: 70px;
}

.description-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;
    padding-left: 15px;

}

#main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 9px;    
}

#description-text {
    font-size: 18px;
    color: #F9FAF8;
    width: 450px;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 30px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
}

.placeholder-image {
    color: white;
    background-color: #7a889c;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-section {
    padding: 30px 100px 100px 100px;
}

.image-section > p {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.images-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 60px;
}

.image-box {
    flex-basis: auto;
    border: 1px solid black;
}

.image-box > .image-container {
    border: 3px solid #3882F6;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    margin-bottom: 8px;
}

.image-box > p {
    text-align: center;

}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-section > p > em {
    font-size: 36px;
    color: rgb(66, 66, 66);
    margin: none;
    padding: none;
    font-family: "Roboto Light 300";
}

#thor {
    float: right;
    font-weight: bold;
    font-size: 22px;
}

.sign-up-section {
    padding: 160px;
}

.sign-up-card {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 100px;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
}

.sign-up-card > p {
    border: 1px solid white;

}

#text-sign-up {
    font-size: 30px;
}

.sign-up-card > button {
    border: 2px solid white;
    align-self: flex-end;
}